{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
{% endblock 'head' %}

{% block 'titulo' %}{{post.title}}{% endblock 'titulo' %}

{% block 'body' %}
    <main class="container my-3">
        <h2>{{post.title}}</h2>
        <small>By: {{post.author.first_name}} {{post.author.last_name}}</small>
        <br>
        <hr>
        {{ post.body }}

        <br><br>
        <a href="{% url 'project' %}" class="btn btn-secondary">Back</a>
    </main>
{% endblock 'body' %}