{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
{% endblock 'head' %}

{% block 'body' %}
    <main class="container my-3">
        <div class="row">
            <div class="col-md-9 border-md-right border-sm-right-0">
                <h1>{{ cats }}</h1>
                <br>
                {% for post in category_posts %}
                    <div class="">
                        <p class="font-italic small mb-1">{{post.author.first_name}} {{post.author.last_name}} - {{post.post_date}}</p>
                        <a href="{% url 'article-detail' post.pk %}" class="taglink text-decoration-none h5 mb-0">
                            {{ post.title }}
                        </a>
                        <p class="mb-1">{{ post.summary|safe }}</p>
                    </div>
                    <hr>
                {% endfor %}
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Primeira</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">Atual</a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Última</a>
                        </li>
                    </ul>
                    <br><br><br><br><br>
                </nav>
            </div>
        </div>
    </main>
{% endblock 'body' %}