{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
{% endblock 'head' %}

{% block 'body' %}
    <main class="container my-3">
        <p class="small text-muted font-italic mb-0">Publicado em 11 de Setembro de 2020 às 02:00</p>
        <p class="small text-muted font-italic mb-2">Última atualização em 14 de Novembro de 2021 às 19:50</p>
        <h2>Tutorial Django - Cadastro e login de usuários apenas com e-mail e senha</h2>
        <span>
        <i class="fa fa-tags" aria-hidden="true"></i>
        </span>
        <span class="align-text-bottom">
        <a href="/projects/tag/python/" class="taglink text-decoration-none">python</a>,
        <a href="/projects/tag/django/" class="taglink text-decoration-none">django</a>
        </span>
        <hr>
        <div class="row justify-content-center">
        <div class="col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ryIFjfbH91I" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
        </div>
        <figcaption class="figure-caption text-center">Acompanhe esse conteúdo pelo YouTube</figcaption>
        </div>
        </div>
        <hr>
        <p>E aí, beleza?</p>
        <p>Ao iniciar um projeto é sempre uma boa ideia criar um ambiente virtual. No Windows eu inicio meus projetos dessa forma:</p>
        <p>Recomendo também já iniciar um repositório Git e criar o arquivo .gitignore.</p>
        <p>Para garantir que está tudo funcionando como esperado, execute esse comando para iniciar o servidor de desenvolvimento local:</p>
        <p>E acesse o endereço <a target="_blank" href="http://127.0.0.1:8000/" class="taglink text-decoration-none">http://127.0.0.1:8000/</a>. Você deverá ver uma tela indicando que a instalação foi um sucesso.</p>
        <p>Não vamos rodar o comando migrate agora.</p>
        <h3 id="django-allauth">django-allauth</h3>
        <p>O django-allauth é um pacote com vários apps responsáveis por tarefas como registro e autenticação de usuários.</p>
        <p>Usar o django-allauth é muito fácil. Basta seguir <a target="_blank" href="https://django-allauth.readthedocs.io/en/latest/installation.html" class="taglink text-decoration-none">essas instruções</a>. Vou resumi-las aqui:</p>
        <p>Instalação:</p>
        <div class="codehilite"><pre><span></span><code><span class="n">pip</span> <span class="n">install</span> <span class="n">django-allauth</span>
        </code></pre></div>
        <p>No settings.py:</p>
        <div class="codehilite"><pre><span></span><code><span class="n">TEMPLATES</span> <span class="o">=</span> <span class="p">[</span>
            <span class="p">{</span>
                <span class="c1"># ...</span>
                <span class="s1">'OPTIONS'</span><span class="p">:</span> <span class="p">{</span>
                    <span class="s1">'context_processors'</span><span class="p">:</span> <span class="p">[</span>
                        <span class="c1"># Sem isso o allauth não funciona!</span>
                        <span class="s1">'django.template.context_processors.request'</span><span class="p">,</span>
                    <span class="p">],</span>
                <span class="p">},</span>
            <span class="p">},</span>
        <span class="p">]</span>
        
        <span class="n">AUTHENTICATION_BACKENDS</span> <span class="o">=</span> <span class="p">[</span>
            <span class="s1">'django.contrib.auth.backends.ModelBackend'</span><span class="p">,</span>
            <span class="s1">'allauth.account.auth_backends.AuthenticationBackend'</span><span class="p">,</span>
        <span class="p">]</span>
        
        <span class="n">INSTALLED_APPS</span> <span class="o">=</span> <span class="p">[</span>
            <span class="c1"># outros apps</span>
            <span class="c1"># ...</span>
            <span class="c1"># apps obrigatórios</span>
            <span class="s1">'django.contrib.auth'</span><span class="p">,</span>
            <span class="s1">'django.contrib.messages'</span><span class="p">,</span>
            <span class="s1">'django.contrib.sites'</span><span class="p">,</span>
            <span class="s1">'allauth'</span><span class="p">,</span>
            <span class="s1">'allauth.account'</span><span class="p">,</span>
            <span class="s1">'allauth.socialaccount'</span><span class="p">,</span>
        <span class="p">]</span>
        
        <span class="n">SITE_ID</span> <span class="o">=</span> <span class="mi">1</span>
        </code></pre></div>
        <p>E no arquivo urls.py do projeto:</p>
        <div class="codehilite"><pre><span></span><code><span class="kn">from</span> <span class="nn">django.urls</span> <span class="kn">import</span> <span class="n">include</span><span class="p">,</span> <span class="n">path</span>
        
        <span class="n">urlpatterns</span> <span class="o">=</span> <span class="p">[</span>
            <span class="n">path</span><span class="p">(</span><span class="s1">'accounts/'</span><span class="p">,</span> <span class="n">include</span><span class="p">(</span><span class="s1">'allauth.urls'</span><span class="p">)),</span>
        <span class="p">]</span>
        </code></pre></div>
        <p>E no terminal:</p>
        <div class="codehilite"><pre><span></span><code><span class="n">python</span> <span class="n">manage</span><span class="p">.</span><span class="n">py</span> <span class="n">migrate</span>
        </code></pre></div>
        <p>Pronto. Agora você pode acessar alguns links para ver que está funcionando:</p>
        <p><a target="_blank" href="http://127.0.0.1:8000/accounts/signup/" class="taglink text-decoration-none">http://127.0.0.1:8000/accounts/signup/</a></p>
        <p><a target="_blank" href="http://127.0.0.1:8000/accounts/login/" class="taglink text-decoration-none">http://127.0.0.1:8000/accounts/login/</a></p>
        <p><a target="_blank" href="http://127.0.0.1:8000/accounts/logout/" class="taglink text-decoration-none">http://127.0.0.1:8000/accounts/logout/</a></p>
        <p>Perceba que depois de realizar um login ou um cadastro, você é redirecionado para a página <a target="_blank" href="http://127.0.0.1:8000/accounts/profile/" class="taglink text-decoration-none">http://127.0.0.1:8000/accounts/profile/</a>, que não existe. Arrumar isso é tranquilo: no arquivo settings.py adicione essa linha:</p>
        <div class="codehilite"><pre><span></span><code><span class="n">LOGIN_REDIRECT_URL</span> <span class="o">=</span> <span class="s2">"/"</span>
        </code></pre></div>
        <p>Pronto, agora você será redirecionado para a página inicial em vez da /accounts/profile/.</p>
        <p>Aproveite e adicione mais uma linha no settings.py:</p>
        <div class="codehilite"><pre><span></span><code><span class="n">EMAIL_BACKEND</span> <span class="o">=</span> <span class="s2">"django.core.mail.backends.console.EmailBackend"</span>
        </code></pre></div>
        <p>Quando um usuário se cadastrar ele deverá receber um e-mail de confirmação. Com o código acima, o e-mail será exibido no terminal. Para desenvolvimento local isso é ótimo, em produção é necessário fazer a configuração de envio de e-mail.</p>
        <p>Farei um tutorial sobre isso também.</p>
        <h3 id="templates">Templates</h3>
        <p>Agora que temos o cadastro, o login e o logout funcionando, vamos cuidar do visual do nosso site.</p>
        <p>No terminal, vamos criar um novo app chamado pages:</p>
        <div class="codehilite"><pre><span></span><code><span class="n">python</span> <span class="n">manage</span><span class="p">.</span><span class="n">py</span> <span class="n">startapp</span> <span class="n">pages</span>
        </code></pre></div>
        <p>E no settings.py, adicione o app na lista de apps instalados:</p>
        <div class="codehilite"><pre><span></span><code><span class="n">INSTALLED_APPS</span> <span class="o">=</span> <span class="p">[</span>
            <span class="c1"># outros apps</span>
            <span class="c1"># ...</span>
            <span class="s2">"pages.apps.PagesConfig"</span><span class="p">,</span>
        <span class="p">]</span>
        </code></pre></div>
        <p>E ainda no settings.py, modifique a variável TEMPLATES:</p>
        <div class="codehilite"><pre><span></span><code><span class="n">TEMPLATES</span> <span class="o">=</span> <span class="p">[</span>
            <span class="p">{</span>
                <span class="c1"># ... outras configurações</span>
                <span class="s2">"DIRS"</span><span class="p">:</span> <span class="p">[</span><span class="n">BASE_DIR</span> <span class="o">/</span> <span class="s2">"templates"</span><span class="p">],</span>
                <span class="c1"># ... outras configurações</span>
            <span class="p">},</span>
        <span class="p">]</span>
        </code></pre></div>
        <p>Agora, na raiz do projeto, crie uma pasta chamada templates.</p>
        <p>Dentro dessa pasta, crie o arquivo base.html e copie esse código:</p>
        
        <p>E adicionar essa linha também no settings.py:</p>
        <div class="codehilite"><pre><span></span><code><span class="n">CRISPY_TEMPLATE_PACK</span> <span class="o">=</span> <span class="s2">"bootstrap4"</span>
        </code></pre></div>
        
    </main>
{% endblock 'body' %}