{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
{% endblock 'head' %}

{% block 'body' %}
    <main class="container my-3 col-xl-6">
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="{% static 'blog/img/foto.jpg' %}" width="150" height="150" class="rounded-circle">
            </div>
            <div class="col-md-9 align-self-center">
                <h3 class="font-weight-bold">E aí, beleza?</h3>
                <p>Eu sou o Flavio Macedo, desenvolvedor de software e engenheiro de computação.</p>
                <p class="mb-1">
                    Neste site você encontrará o meu portfólio, onde mostros os meus projetos 
                    em aberto e realizados.
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h3 class="font-weight-bold">Em breve!</h3>
                <p>
                    Todos os artigos de projetos estão em desenvolvimento, depois serão disponibilizados 
                    assim que estiverem concluidos.
                </p>
                <p>
                    Pretendo realizar um grupo, para reunir com os Pythonistas, trocar ideias, experiencia
                    e tirar dúvidas.
                </p>
                <p>
                    Você também pode me acompanhar no
                    <a href="https://github.com/Flaviohmm" class="taglink text-decoration-none" target="_blank">
                        GitHub
                    </a>
                    ,
                    <a href="https://www.linkedin.com/in/flavio-henrique-m2/" class="taglink text-decoration-none" target="_blank">
                        LinkedIn
                    </a>
                    e
                    <a href="https://www.instagram.com/flavio.hm2/" class="taglink text-decoration-none" target="_blank">
                        Instagram
                    </a>
                </p>
            </div>
            <div class="col-md-6 border-left">
                <h3 class="font-weight-bold">Lorem ipsum</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quas voluptatibus similique 
                    doloribus aliquid repellat, dolorum hic distinctio accusantium. 
                </p>
                <p>
                    Tenetur magnam dolore nam veritatis, sapiente quis officiis repudiandae et eaque. Incidunt alias 
                    laboriosam.
                </p>
                <p>
                    Saepe quasi dicta illum deserunt excepturi magnam omnis fugiat veritatis.
                </p>
            </div>
            <hr>
        </div>

    </main>
{% endblock 'body' %}
