{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% block 'head' %}{% endblock 'head' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/bbe3976042.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block 'titulo' %}{% endblock 'titulo' %}</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg_navbar">
        <a href="{% url 'index' %}" class="navbar-brand">
            <div class="container">
                <img src="{% static 'blog/img/logo.png' %}" width="80">&nbsp
                <h3 class="font_logo">Flavio Macedo</h3>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarNav" aria-controls="navbarNav" 
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="{% url 'project' %}" class="nav-link lead mr-4 font-weight-bold">Projects</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block 'body' %}{% endblock 'body' %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    {% block 'footer' %}
        {% comment %} <footer class="bg_navbar text-center text-light">
            <div class="container p-4 pb-0">
                <section class="mb-4">
                    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
                    <div class="container">
                        <a href="https://github.com/Flaviohmm" class="btn btn-social-icon btn-github text-light" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="https://www.linkedin.com/in/flavio-henrique-m2/" class="btn btn-social-icon btn-linkedin text-light" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="https://www.instagram.com/flavio.hm2/" class="btn btn-social-icon btn-instagram text-light" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x"></i>
                            </span>
                        </a>
                    </div>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">Flavio Macedo</a>
            </div>
            <!-- Copyright -->

        </footer> {% endcomment %}
        <footer class="bg_navbar mt-auto py-3">
            <div class="container">
                <div class="row">
                    <div class="col text-white font-weight-bold">
                        © Flavio Macedo <span id="year">2022</span> <br>
                        <a class="font-weight-bold text-decoration-none text-white linkfooter" href="mailto: contato@flaviomacedo.com.br">
                            contato@flaviomacedo.com.br
                        </a>
                    </div>
                    <div class="col-lg-6 text-lg-right social-icons">
                        <a class="text-decoration-none text-white" href="https://github.com/Flaviohmm" target="_blank">
                            <i class="fab fa-github mr-lg-2 fa-2x linkfooter" aria-hidden="true"></i>
                        </a>
                        <a class="text-decoration-none text-white" href="https://www.linkedin.com/in/flavio-henrique-m2/" target="_blank">
                            <i class="fab fa-linkedin mr-lg-2 fa-2x linkfooter" aria-hidden="true"></i>
                        </a>
                        <a class="text-decoration-none text-white" href="https://www.instagram.com/flavio.hm2/" target="_blank">
                            <i class="fab fa-instagram mr-lg-2 fa-2x linkfooter" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock 'footer' %}
</body>
</html> 